* {
    padding: 0px;
    margin: 0px;
}

#board {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 100%;
}

#chips {
    display: block;
    position: relative;
    width: 100%;
}

#reset {
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.options {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 100px;
}