@namespace Juegardos.Website.Components

<div>
    <button class="@(bigButton ? "big-button" : "small-button") play-button"><i class="material-icons">play_arrow</i>Jugar</button>
</div>

@code {
    [Parameter]
    public bool bigButton { get; set; } = true;
}
