* {
    margin: 0;
}

#board {
    display: block;
    width: fit-content;
    margin: auto;
}

.info {
    text-align: center;
    background-color: gainsboro;
    padding: 15px;
    font-size: 24px;
    text-shadow: 0 0 1.5px black, 0 0 1.5px black, 0 0 1.5px black, 0 0 1.5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > * {
    height: 24px;
    margin: 0 10px;
}

.info > button {
    cursor: pointer;
}

#result {
    background-color: rgba(1, 1, 1, 0.70);
    font-weight: bolder;
    padding: 2em 0 2em 0;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: wheat;
}

.game-container {
    position: relative;
}