* {
    padding: 0px;
    margin: 0px;
}

#board {
    /* position: absolute; */
    cursor: pointer;
    /* top: 0; */
    border: solid black 1px;
}

/* #chips {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    top: 50px;
} */

#reset {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

/* .input_aux {
    position: absolute;   
} */
