@namespace Juegardos.Website.Components
@inject IJSRuntime _js

<div class="carousel" id="@_carouselId">
    <h3 class="carousel-title">@Title</h3>
    <div class="carousel-posters" @onscroll="GetScrollVal">
        @foreach (var game in Games)
        {
            <div class="carousel-poster">
                <GameCard Game="game" />
            </div>
        }
        <div class="left-arrow scroll-button" @onclick="ScrollL">
            <i class="arrow left"></i>
        </div>
        <div class="right-arrow scroll-button" @onclick="ScrollR">
            <i class="arrow right"></i>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public List<Game> Games { get; set; } = new();

    private readonly string _carouselId = StringHelper.RandomString();

    private async Task ScrollL()
    {
        await _js.InvokeVoidAsync("scrollL", _carouselId);
    }

    private async Task ScrollR()
    {
        await _js.InvokeVoidAsync("scrollR", _carouselId);
    }

    private async Task GetScrollVal()
    {
        await _js.InvokeVoidAsync("getScrollVal", _carouselId);
    }
    
}
