@namespace Juegardos.Website.Components
@inject IAppState _appState

<div class="game-card" @onclick="OpenGameModal">
    <img src="@Game.Image" />
    <h5>@Game.Name</h5>
    <Star Game="Game"/>
</div>

@code {

    [Parameter]
    public Game Game { get; set; } = null!;

    private void OpenGameModal()
    {
        _appState.GameToShow = Game;
        _appState.GameModal.Open();
    }

}