@namespace Juegardos.Website.Components

<div class="gameplay-container">
    <div class="gameplay-box">
        <img src="@Game.Image" />
    </div>
    <div class="gameplay-box-bar">
        <i class="material-symbols-outlined" @onclick="() => _howToPlayModal.Open()">help</i>
        <i class="material-icons-outlined">share</i>
        <span class="likes-bar">
            <i class="@(Game.UserLikeDecision == LikeDecision.Like ? "material-icons like selected" : "material-icons-outlined")" @onclick="() => ChangeLike(LikeDecision.Like)">thumb_up</i>           
            <i class="@(Game.UserLikeDecision == LikeDecision.Dislike ? "material-icons dislike selected" : "material-icons-outlined")" @onclick="() => ChangeLike(LikeDecision.Dislike)">thumb_down</i>
        </span>
        <Star Game="Game" />
        <i class="material-icons">open_in_full</i>
    </div>
</div>

<Modal Title="Cómo jugar" @ref="_howToPlayModal">
    <div class="how-to-play-modal">
        <h5>¿Qué tengo que hacer?</h5>
            <p>Tu misión es infiltrarte en las tropas enemigas y eliminar tantos soldados como sea posible. 
               Contás con munición limitada, pero podés conseguir más comprando en la tienda cada vez que el juego así lo permita.</p>
        <h5>Controles</h5>
        <ul>
            <li>WASD - Moverse</li>
            <li>Click izquierdo - Disparar</li>
            <li>Click derecho - Apuntar</li>
            <li>R - Recargar</li>
            <li>Espacio - Saltar</li>
            <li>Q - Cambio de arma</li>
        </ul>
    </div>
</Modal>

@code {

    [Parameter]
    public Game Game { get; set; } = null!;

    private Modal _howToPlayModal = new();

    private void ChangeLike(LikeDecision newDecision)
    {
        if (Game.UserLikeDecision == newDecision)
            Game.UserLikeDecision = LikeDecision.None;
        else
            Game.UserLikeDecision = newDecision;
    }

}
