@namespace Juegardos.Website.Components
@inject IAppState _appState
@inject IGameService _gameService

<div class="game-card" @onclick="OpenGameModal">
    <img src="@Game.Image" />
    <h5>@Game.Name</h5>
    <Star Game="Game"/>
</div>

@code {

    [Parameter]
    public Game Game { get; set; } = null!;

    private async Task OpenGameModal()
    {
        _appState.GameToShow = Game;
        _appState.RelatedGames = new();
        await _appState.StateHasChangedInModal.InvokeAsync();
        _appState.GameModal.Open();
        _appState.RelatedGames = await _gameService.SearchGames("", new GameFilters() { Category = Game.Category });
        await _appState.StateHasChangedInModal.InvokeAsync();
    }

}