@namespace Juegardos.Website.Components

<div class="wrap">
    <img src="@Game.Image" class="carousel-poster" />
    <h5 class="poster-title">@Game.Title</h5>
    @if(Game.IsFavourite)
    {
        <Star starred/>
    }
    else
    {
        <Star/>
    }
    </div>

    @code {

    [Parameter]
    public Game Game { get; set; } = null!;

    }
