@namespace Juegardos.Website.Components
<div class="outstangin-game-card">
    <img src="@Game.Image" />
    <h1>@Game.Title</h1>
    <h4>Call of Duty: Civil War transporta a los jugadores al corazón de la volátil batalla geopolítica de la Guerra Fría, a principios de la década de 1980.</h4>
    <div class="outstanding-buttons">
        <button class="play-button big-button"><i class="material-icons">play_arrow</i>Jugar</button>
        <button class="moreinfo-button big-button"><i class="material-icons">info_outline</i>Más información</button>
    </div>
</div>

@code {

    [Parameter]
    public Game Game { get; set; } = null!;

}
