@namespace Juegardos.Website.Components
@inject IJSRuntime _js

<div class="samurai-apocalypse">
    <div class="runner-container">
        <div data-pauseable class="layer" id="layer-09"></div>
        <div data-pauseable class="layer" id="layer-08"></div>
        <div data-pauseable class="layer" id="layer-07"></div>
        <div data-pauseable class="layer" id="layer-06"></div>
        <div data-pauseable class="layer" id="layer-05"></div>
        <div data-pauseable class="layer" id="layer-04"></div>
        <div data-pauseable class="layer" id="layer-03"></div>
        <div data-pauseable class="layer" id="layer-02"></div>
        <div data-pauseable class="layer" id="layer-01"></div>
        <div data-pauseable class="layer" id="layer-00"></div>
        <div data-pauseable id="character" class="standing"></div>
        <div class="lives">Vidas: <span id="lives"></span></div>
        <div class="claws">Garras: <span id="claws"></span></div>
        <button id="play">Jugar</button>
        <button id="change-background">Cambiar fondo</button>
        <button id="change-character">Cambiar personaje</button>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _js.InvokeVoidAsync("startSamuraiApocalypse");
    }

}
