* {
    margin: 0;
}

@keyframes scroll {
    0% {background-position-x: 0px;}
    100% {background-position-x: -928px;}
}

.runner-container {
    position: relative;
    margin: 0 auto;
    width: 928px;
    height: 640px;
    overflow: hidden;
}

.layer {
    width: 928px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: contain;
}

.layer-09 {      
    background-image: url("images/layer09.png");   
    animation: scroll 20s infinite linear;
}

.layer-08 {      
    background-image: url("images/layer08.png");   
    animation: scroll 20s infinite linear;
}

.layer-07 {        
    background-image: url("images/layer07.png");     
    animation: scroll 15s infinite linear;
}

.layer-06 {        
    background-image: url("images/layer06.png");     
    animation: scroll 15s infinite linear;
}

.layer-05 {        
    background-image: url("images/layer05.png");     
    animation: scroll 14s infinite linear;
}

.layer-04 {        
    background-image: url("images/layer04.png");     
    animation: scroll 14s infinite linear;
}

.layer-03 {        
    background-image: url("images/layer03.png");     
    animation: scroll 8s infinite linear;
}

.layer-02 {        
    background-image: url("images/layer02.png");     
    animation: scroll 8s infinite linear;
}

.layer-01 {        
    background-image: url("images/layer01.png");     
    animation: scroll 5s infinite linear;
}

.layer-00 {        
    background-image: url("images/layer00.png");     
    animation: scroll 4s infinite linear;
}

#character {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    image-rendering: pixelated;
    transform: scale(2);
    right: 700px;
}

#character.running {
    background: url("images/character-running.png");
    animation: character-running .8s steps(8) infinite;
}

#character.jumping {
    background: url("images/character-jumping-full.png");
    animation: character-jumping 1.125s steps(36) forwards;
}

#character.taking-damage {
    background: url("images/character-taking-damage.png");
    animation: character-taking-damage .2s steps(3) forwards;
}

#character.dying {
    background: url("images/character-dying.png");
    animation: character-dying .8s steps(5) forwards;
}

@keyframes character-running {
    0% { background-position: 0; }
    100% { background-position: -1600px }
}

@keyframes character-jumping {
    0% { background-position: 0px; bottom: 0px; }
    24.9% { background-position: 0px; }
    25% { background-position: -200px; }
    49.9% { background-position: -200px; }
    50% { background-position: -400px; bottom: 180px; }
    74.9% { background-position: -400px; }
    75% { background-position: -600px; }
    99.9% { background-position: -600px; }
    100% { background-position: -800px; bottom: 0px; }
}

@keyframes character-taking-damage {
    0% { background-position: 0 }
    100% { background-position: -600px }
}

@keyframes character-dying {
    0% { background-position: 0 }
    100% { background-position: -1000px }
}

.skull {
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 200px;
    right: 296px;
    background: url("images/skull.png");
    animation: skull-run 1s steps(8) infinite, run-backwards 4s  linear forwards;
    image-rendering: pixelated;
    transform: scale(1.4);
}

.horse {
    width: 144px;
    height: 96px;
    position: absolute;
    bottom: 78px;
    right: 46px;
    background: url("images/horse.png");
    animation: horse-run .6s steps(4) infinite, run-backwards 4s  linear forwards;
    image-rendering: pixelated;
    transform: scale(1.4);
}

.claw {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 216px;
    right: 248px;
    background: url("images/claw.png");
    animation: claw-idle 2s infinite, run-backwards 6s forwards linear;
    image-rendering: pixelated;
    transform: scale(1.4);
}

.claw.taking {
    animation: claw-idle 2s infinite, run-backwards 6s forwards linear, taking .5s forwards linear;
}

@keyframes skull-run {
    0% { background-position: 0; }
    100% { background-position: -768px; }
}

@keyframes horse-run {
    0% { background-position: 0; }
    100% { background-position: -576px; }
}

@keyframes claw-idle {
    0% { transform: scale(1.4);filter: initial; }
    50% { transform: scale(1.8);filter: saturate(4.5); }
    100% { transform: scale(1.4);filter: initial; }
}

@keyframes run-backwards {
    0% { right: -200px; }
    100% { right: 1100px; }
}

@keyframes taking {
    0% { transform: translateY(0px) rotateY(0deg); opacity: 1; }
    25% { transform: translateY(-35px) rotateY(180deg);}
    50% { transform: translateY(-70px) rotateY(360deg); }
    100% { transform: translateY(-60px) rotateY(720deg); opacity: 0; }
}

.lives {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.claws {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 1000;
}