@namespace Juegardos.Website.Components

<form @onsubmit="() => OnSearch.InvokeAsync(_searchText)">
    <div class="input-group">
        <input type="text" placeholder="Escribe aquí..." class="primary-input" @bind-value="@_searchText">
        <div class="input-group-append" @onclick="() => OnSearch.InvokeAsync(_searchText)">
            <i class="material-icons">search</i>
        </div>
    </div>
</form>

@code{

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    [Parameter]
    public string InitialText { get; set; } = "";

    private string _searchText = "";

    protected override void OnInitialized()
    {
        _searchText = InitialText;
    }

}