<nav class="navbar">
    <div class="minimized-navbar">
        <i class="material-icons toggle-button" @onclick="() => _active = !_active">menu</i>
        <div class="brand-title logo"><Logo /></div>
        <i class="material-icons search-button">search</i>
    </div>
    
    <div class="navbar-links @(_active ? "active" : "")">
        <ul>
            <li><span>Categorias</span></li>
            <li class="hide-on-mobile"><InputSearch /></li>
            <li class="hide-on-mobile"><a href=""><i class="material-icons">account_circle</i></a></li>
            <li class="hide-on-desktop"><a href="">Mi cuenta</a></li>
        </ul>
    </div>
</nav>

@code{

    private bool _active = false;

}