<nav class="navbar">
    <div class="minimized-navbar">
        <i class="material-icons toggle-button" @onclick="() => _active = !_active">menu</i>
        <div class="brand-title logo"><Logo /></div>
        <i class="material-icons search-button">search</i>
    </div>
    
    <div class="navbar-links @(_active ? "active" : "")">
        <ul>
            <li>
                <a class="megamenu-toggle" @onclick="() => _showMegaMenu = !_showMegaMenu">Categorias<i class="material-icons">arrow_drop_down</i></a>
                <div class="mega-box @(_showMegaMenu ? "active" : "")">
                    <div class="content">
                        <div class="row">
                        <ul class="mega-links">
                            <li><a href="#">Acción</a></li>
                            <li><a href="#">Aventura</a></li>
                            <li><a href="#">Belleza</a></li>
                        </ul>
                        </div>
                        <div class="row">
                        <ul class="mega-links">
                            <li><a href="#">Carreras</a></li>
                            <li><a href="#">Clásicos</a></li>
                            <li><a href="#">Click</a></li>
                        </ul>
                        </div>
                        <div class="row">
                        <ul class="mega-links">
                            <li><a href="#">Deportes</a></li>
                            <li><a href="#">Puzzle</a></li>
                            <li><a href="#">Tiros</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hide-on-mobile"><InputSearch /></li>
            <li class="hide-on-mobile"><a href=""><i class="material-icons">account_circle</i></a></li>
            <li class="hide-on-desktop"><a href="">Mi cuenta</a></li>
        </ul>
    </div>
</nav>

<Modal Title="Iniciar sesión" @ref="_modalSignIn">
    <p>Form ejemplo</p>
    <div>
        <label>Nombre</label>
        <input type="text" class="primary-input" placeholder="Escribe aqui..." />
    </div>
    <div>
        <label>Género</label>
        <select class="primary-input">
            <option selected hidden disabled>Seleccione uno...</option>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
        </select>
    </div>
    <div>
        <label>Observaciones</label>
        <textarea class="primary-input" rows="4" placeholder="Escribe aquí..."></textarea>
    </div>
</Modal>

<Modal Title="Registrarse" @ref="_modalSignUp">
    <p>Form ejemplo</p>
    <div>
        <label>Nombre</label>
        <input type="text" class="primary-input" placeholder="Escribe aqui..." />
    </div>
    <div>
        <label>Género</label>
        <select class="primary-input">
            <option selected hidden disabled>Seleccione uno...</option>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
        </select>
    </div>
    <div>
        <label>Observaciones</label>
        <textarea class="primary-input" rows="4" placeholder="Escribe aquí..."></textarea>
    </div>
</Modal>

@code{

    private bool _active = false;
    private bool _showMegaMenu = false;
    private Modal _modalSignIn = new();
    private Modal _modalSignUp = new();

}