@page "/jugar"
@inject IGameService _gameService

@if (_games is null)
{
    <div class="loading-zone">
        <div class="spinner screen-centered"></div>
    </div>
}
else
{
    <h1>Game name</h1>
    <div class="game-main-container">
        <GamePlayBox Game="_games[0]" />
        <Ad Type="AdType.Ad160x600" />
        <Ad Type="AdType.Ad970x90" />
        <Ad Type="AdType.Ad728x90" />
        <Ad Type="AdType.Ad300x250" />
        <Ad Type="AdType.Ad300x600" />
        <CarouselMultiple Title="Jugos similares" Games="_games" />
    </div>
}

@code {

    private List<Game>? _games = null;

    protected override async Task OnInitializedAsync()
    {
        _games = await _gameService.GetGames();
    }

}
