@page "/jugar/{name}"
@inject IGameService _gameService

@if (_isLoading)
{
    <div class="spinner screen-centered"></div>
}
else
{
    if (_game is null)
    {
        <p>El juego no existe</p>
    }
    else
    {
        <h1>@_game.Name</h1>
        <div class="game-main-container">
            <GamePlayBox Game="_game" />
            <Ad Type="AdType.Ad160x600" />
            <Ad Type="AdType.Ad970x90" />
            <Ad Type="AdType.Ad728x90" />
            <Ad Type="AdType.Ad300x250" />
            <Ad Type="AdType.Ad300x600" />
        </div>
    }
}

<Modal Title="Cómo jugar" @ref="_howToPlayModal">
    <div>
        <h5>¿Qué tengo que hacer?</h5>
            <p>Tu misión es infiltrarte en las tropas enemigas y eliminar tantos soldados como sea posible. 
               Contás con munición limitada, pero podés conseguir más comprando en la tienda cada vez que el juego así lo permita.</p>
        <h5>Controles</h5>
        <ul>
            <li>WASD - Moverse</li>
            <li>Click izquierdo - Disparar</li>
            <li>Click derecho - Apuntar</li>
            <li>R - Recargar</li>
            <li>Espacio - Saltar</li>
            <li>Q - Cambio de arma</li>
        </ul>
    </div>
</Modal>

@code {

    [Parameter]
    public string? Name { get; set; }

    private Modal _howToPlayModal = new();
    private Game? _game = null;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        if (Name is not null)
            _game = await _gameService.GetGame(StringHelper.FormatToNonUrlName(Name));
        _isLoading = false;
    }

}
