@page "/jugar/{name}"
@inject IGameService _gameService

@if (_isLoading)
{
    <div class="spinner screen-centered"></div>
}
else
{
    if (_game is null)
    {
        <p>El juego no existe</p>
    }
    else
    {
        <h2 class="gameplay-title">@_game.Name</h2>
        <div class="game-main-container">
            <Ad Type="AdType.Ad160x600" />
            <div class="game-with-ad">
                
                <GamePlayBox Game="_game" />
                <Ad Type="AdType.Ad970x90" />
            </div>
            <Ad Type="AdType.Ad160x600" />
        </div>
    }
}

@code {

    [Parameter]
    public string? Name { get; set; }

    private Game? _game = null;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        if (Name is not null)
            _game = await _gameService.GetGame(StringHelper.FormatToNonUrlName(Name));
        _isLoading = false;
    }

}
