@page "/jugar/{name}"
@inject IGameService _gameService

@if (_isLoading)
{
    <div class="spinner screen-centered"></div>
}
else
{
    if (_game is null)
    {
        <p>El juego no existe</p>
    }
    else
    {
        <h1>@_game.Name</h1>
        <div class="game-main-container">
            <GamePlayBox Game="_game" />
            <Ad Type="AdType.Ad160x600" />
            <Ad Type="AdType.Ad970x90" />
            <Ad Type="AdType.Ad728x90" />
            <Ad Type="AdType.Ad300x250" />
            <Ad Type="AdType.Ad300x600" />
        </div>
    }
}

@code {

    [Parameter]
    public string? Name { get; set; }

    private Game? _game = null;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        if (Name is not null)
            _game = await _gameService.GetGame(StringHelper.FormatToNonUrlName(Name));
        _isLoading = false;
    }

}
