@page "/"
@inject IGameService _gameService

@if (_games is null)
{
    <p>Loading games...</p>
}
else
{
    foreach (var game in _games)
    {
        <GameCard Game="game" />
    }
}

<div>
    <label>Un boton</label>
    <button class="simple-button" @onclick="() => _modal.Open()">Abrir modal</button>
</div>
<div>
    <label>Botón play</label>
    <OutstandingPlayButton/>
</div>
<div>
    <label>Botón Más info</label>
    <OutstandingMoreInfo/>
</div>

<Pagination PaginationParameters="_paginationParameters" />

<Modal Title="Modal ejemplo" @ref="_modal">
    <p>Form ejemplo</p>
    <div>
        <label>Nombre</label>
        <input type="text" class="primary-input" placeholder="Escribe aqui..." />
    </div>
    <div>
        <label>Género</label>
        <select class="primary-input">
          <option selected hidden disabled>Seleccione uno...</option>
          <option>Hombre</option>
          <option>Mujer</option>
          <option>Otro</option>
        </select>
    </div>
    <div>
        <label>Observaciones</label>
        <textarea class="primary-input" rows="4" placeholder="Escribe aquí..."></textarea>
    </div>
</Modal>

@code{

    private List<Game>? _games = null;
    private Modal _modal = new();
    private PaginationParameters _paginationParameters = new() { TotalCount = 100 };

    protected override async Task OnInitializedAsync()
    {
        _games = await _gameService.GetGames();
    }

}