@page "/"
@inject IGameService _gameService

@if (_games is null)
{
    <p>Loading games...</p>
}
else
{
    foreach (var game in _games)
    {
        <GameCard Game="game" />
    }
}

<form style="width:180px; margin-left: 20px;">
    <p>Form ejemplo</p>
    <div>
        <label>Nombre</label>
        <input type="text" class="primary-input" placeholder="Escribe aqui..." />
    </div>
    <div>
        <label>Género</label>
        <select class="primary-input">
          <option selected hidden disabled>Seleccione uno...</option>
          <option>Hombre</option>
          <option>Mujer</option>
          <option>Otro</option>
        </select>
    </div>
    <div>
        <label>Observaciones</label>
        <textarea class="primary-input" rows="4" placeholder="Escribe aquí..."></textarea>
    </div>
    <div>
        <label>Input Search</label>
        <InputSearch />
    </div>
</form>




@code{

    private List<Game>? _games = null;

    protected override async Task OnInitializedAsync()
    {
        _games = await _gameService.GetGames();
    }

}