@page "/"
@inject IGameService _gameService

@if (_isLoading)
{
    <div class="spinner screen-centered"></div>
}
else
{
    if (_outstandingGame is not null)
    {
        <OutstandingGameCard Game="_outstandingGame" />
    }

    foreach (var gameCategory in _gameCategories)
    {
        <CarouselMultiple Title="@gameCategory.Name" Games="gameCategory.Games" />
    }
}

@code{

    private Game? _outstandingGame = null;
    private List<GameCategory> _gameCategories = new();
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        var getGameTask = _gameService.GetOutstandingGame();
        var getCategoriesWithGamesTask = _gameService.GetCategoriesWithGames();
        _outstandingGame = await getGameTask;
        _gameCategories = await getCategoriesWithGamesTask;
        _isLoading = false;
    }

}