@page "/"
@inject IGameService _gameService

@if (_games is null)
{
    <div class="spinner"></div>
}
else
{
    <OutstandingGameCard Game="_games[0]"/>

    <CarouselMultiple Title="Acción" Games="_games" />

    <CarouselMultiple Title="Aventura" Games="_games" />

    <CarouselMultiple Title="Belleza" Games="_games" />
}

@code{

    private List<Game>? _games = null;

    protected override async Task OnInitializedAsync()
    {
        _games = await _gameService.GetGames();
    }

}