@namespace Juegardos.Website.Components

<div class="minecraft-cube-wrapper">
    <div class="minecraft-cube">
        <div class="minecraft-cube-side left"></div>
        <div class="minecraft-cube-side right"></div>
        <div class="minecraft-cube-side top"></div>
        <div class="minecraft-cube-side bottom"></div>
        <div class="minecraft-cube-side front"></div>
        <div class="minecraft-cube-side back"></div>
    </div>
</div>
